{% extends "html/landing_page.html" %}

{% block content %}





     <!--------------About us--------------------------->
        <div class="about-section">
          <h1>About Us </h1>
          <p>Kabadkhana is Nepal's very own trash management site.</p>
          <p>We are basically focused on creating worthless trash to add some worth by exchanging useless product with the money between the users.</p>
          <p>This site is basically focused to connect people for that sole purpose by being the true online platform.</p>
        </div>
</div>
{% endblock %}