{% extends 'html/landing_page.html' %}
{% block content %}


    <div class="content">
        <h2>MY PRODUCTS</h2>
        <div class="right_area">
      </div>
            <table class="table table-dark table-hover">
                  <thead>
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>

                        </tr>
                  </thead>
                  <tbody>
                  {% for p in product %}
                    <tr>
                      <th scope="row">{{p.product_id}}</th>
                      <td>{{p.p_name}}</td>
                        {% load static %}
                     <td><img width="100" src="{% static 'assets/' %}{{ p.p_image }}"></td>
                        <td>{{p.p_quantity}}</td>
                    <td>{{p.p_category}}</td>
                        <td>{{p.p_price}}</td>
                    <td>
                        <a href="/product_edit/{{ p.product_id }}"><i class="fas fa-edit" style="color: orange"></i></a>
                        <a href="/user_delete/{{ p.product_id }}"><i class="fas fa-trash-alt" style="color: red"></i></a>
                    </td>

                    </tr>

                  {% endfor %}
                  </tbody>
                </table>

    </div>
</div>
{% endblock %}
