<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>KABADKHANA SITE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/admi.css'%}">
    <link rel="stylesheet" href="{% static 'css/admin_register.css'%}">
    <link rel="stylesheet" href="{% static 'css/admin_popup_register.css' %}">
    <link rel="stylesheet" href="{% static 'css/prod.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/63aabbfb2c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>



  <body>

  {% if user.is_authenticated %}

    <!--header area start-->
    <header>

      <div class="left_area">
        <h3> <span>Admin Panel </span></h3>
      </div>
      <div class="right_area">
        <a href="/admin/logout" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="../../static/img/p5.jpg" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>

      </div>
      <div class="mobile_nav_items">
        <a href="/admin/dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="/admin/products"><i class="fas fa-table"></i><span>Products</span></a>
        <a href="/admin/customers"><i class="fas fa-info-circle"></i><span>Customers</span></a>
        <a href="/admin/update/{{admins.id}}"><i class="fas fa-sliders-h"></i><span>Settings</span></a>


      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
          <div class="profile_info">
            <img src="../../static/img/p5.jpg" class="profile_image" alt="">
            <h4> {{ request.user.username}}</h4>
          </div>
              <a href="/admin/dashboard"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
                <a href="/admin/products"><i class="fas fa-table"></i><span>Products</span></a>
                <a href="/admin/customers"><i class="fas fa-info-circle"></i><span>Customers</span></a>
                <a href="/admin/update/ {{ request.user.id }} "><i class="fas fa-sliders-h"></i><span>Settings</span></a>


            </div>
    <!--sidebar end-->


{% block context %}
    <div class="content">
        <div class="name"><h2> Hello {{ request.user.username}} </h2></div>
        <h4>Other Admins</h4>
        <div class="right_area">
        <a  href="#" id="button" class="add_new_btn">Add new admin</a>
      </div>
            <table class="table table-dark table-hover">
                  <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Joined Date</th>
                            <th scope="col">Action</th>

                        </tr>
                  </thead>
                  <tbody>
                  {% for admins in admins %}
                    <tr>
                      <th scope="row">{{admins.id}}</th>
                      <td>{{admins.username}}</td>
                    <td>{{admins.email}}</td>
                    <td>{{admins.date_joined}}</td>
                    <td>
                       <a href="javascript:void(0)"; id="button" onclick="editClick()"> <i class="fas fa-user-edit" style="color: orange"></i></a>
                       <a href=""> <i class="fas fa-trash-alt" style="color: red"></i> </a>
                    </td>
                    </tr>

                  {% endfor %}
                  </tbody>
                </table>
    </div>

    <!----------------------------new poping register window--------------->
    <div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <form id="form" class="form"  method='post'>
        {% csrf_token %}
            <h4 class="h44">Add New Admin </h4>
            <div class="form-control">
			<label for="First Name">First Name</label>
			<input type="text" placeholder="First Name " id="f_name" name="f_name"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div class="form-control">
			<label for="Last Name">Last Name</label>
			<input type="text" placeholder="Last Name" id="l_name" name="l_name"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div class="form-control">
			<label for="username">Username</label>
			<input type="text" placeholder="username " id="username" name="uname"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div class="form-control">
			<label for="Email">Email</label>
			<input type="text" placeholder="Email " id="Email" name="Email"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>

        <div class="form-control">
			<label for="username"> Password</label>
			<input type="password" placeholder="Password" id="password" name="pswd"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>

        <div>
            <button type ="submit" value="submit">Submit</button>
        </div>

	</form>
    </div>
    </div>
 {% endblock %}



      <!--------------------------------JavaScript------------------------------>

      <script> document.getElementById("button").addEventListener('click',function(){
    document.querySelector('.bg-modal').style.display='flex';
});
document.querySelector('.close').addEventListener('click',function (){
   document.querySelector('.bg-modal').style.display ='none';

});
      </script>
      <script src="{% static 'js/product.js' %}"></script>
      <script src="{% static 'js/customer.js' %}"></script>
      <script src="{% static 'js/product_edit.js' %}"></script>

      <script>
function editClick(){
       document.querySelector('.bg-modal').style.display='flex';
}
</script>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>


{% endif %}
