{% extends "html/dashboard.html" %}

{% block context %}
    <div class="bg-modal-3">
    <div class="modal-content">
        <div class="close">+</div>
        <form id="form" class="form"  method='post'>
        {% csrf_token %}
            <h4 class="h44"> New Customer </h4>
            <div class="form-control">
			<label for="First Name">First Name</label>
			<input type="text" placeholder="First Name " id="f_name" name="f_name"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div class="form-control">
			<label for="Last Name">Last Name</label>
			<input type="text" placeholder="Last Name" id="l_name" name="l_name"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div class="form-control">
			<label for="username">Username</label>
			<input type="text" placeholder="User Name " id="Username" name="uname"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div class="form-control">
			<label for="Email">Email</label>
			<input type="text" placeholder="Email " id="Email" name="Email"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<label for="username">Mobile No</label>
			<input type="text" placeholder="Mobile No" id="Mobile No" name="Mobile_no"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
            <div class="form-control">
			<label for="username"> Address </label>
			<input type="text" placeholder="Address" id="Address" name="address"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div class="form-control">
			<label for="username"> Password</label>
			<input type="password" placeholder="Password" id="password" name="pswd"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
		<div class="form-control">
			<label for="username">Confirm Password </label>
			<input type="password" placeholder="Confirm Password" id="password2" name="pswd2"/>
			<i class="fas fa-check-circle"></i>
			<i class="fas fa-exclamation-circle"></i>
			<small>Error message</small>
		</div>
        <div>
            <button type ="submit" value="submit">Submit</button>
        </div>
	</form>
    </div>
    </div>

{% endblock %}